//
//  poc.xcconfig
//  poc
//
//  Created by Björn Knafla on 19.04.10.
//  Copyright 2009-2010 Bjoern Knafla www.bjoernknafla.com. All rights reserved.
//

#include "poc_common"


HEADER_SEARCH_PATHS = $(POC_COMMON_HEADER_PATHS)


INSTALL_PATH = @executable_path/../Frameworks
OTHER_LDFLAGS = 
FRAMEWORK_VERSION = A
INFOPLIST_FILE = poc-Info.plist
PRODUCT_NAME = poc
