//
//  poc_diagnose_c_gcc_ansi_c.xcconfig
//  poc
//
//  Created by Björn Knafla on 09.11.09.
//  Copyright 2009 Bjoern Knafla www.bjoernknafla.com. All rights reserved.
//

#include "poc"

PRODUCT_NAME = poc_diagnose_c_gcc_ansi_c

GCC_C_LANGUAGE_STANDARD = ansi

GCC_PREPROCESSOR_DEFINITIONS =
// POC_FORCE_LANG_C_TYPE_LONG_LONG_SUPPORT
// POC_FORCE_LANG_C_STD_COMPLIANCE
// POC_FORCE_LANG_CPP_TYPE_LONG_LONG_SUPPORT
// POC_FORCE_LANG_CPP_STD_COMPLIANCE
