//
//  poc_diagnose_c.xcconfig
//  poc
//
//  Created by Björn Knafla on 09.11.09.
//  Copyright 2009-2010 Bjoern Knafla www.bjoernknafla.com. All rights reserved.
//

#include "poc_common"

HEADER_SEARCH_PATHS = $(POC_COMMON_HEADER_PATHS)

PRODUCT_NAME = poc_diagnose_c

GCC_VERSION = com.apple.compilers.llvm.clang.1_0
RUN_CLANG_STATIC_ANALYZER = YES

GCC_C_LANGUAGE_STANDARD = c99

GCC_PREPROCESSOR_DEFINITIONS = 
// POC_FORCE_LANG_C_TYPE_LONG_LONG_SUPPORT
// POC_FORCE_LANG_C_STD_COMPLIANCE
// POC_FORCE_LANG_CPP_TYPE_LONG_LONG_SUPPORT
// POC_FORCE_LANG_CPP_STD_COMPLIANCE
